Source: fruitbak
Section: admin
Priority: extra
Maintainer: Wessel Dankers <wsl@fruit.je>
Build-Depends: cdbs (>= 0.4.73~), debhelper (>= 7), libmodule-build-perl, rsync,
	libclass-clarity-perl,
	libclass-lazy-perl,
	libprivileges-drop-perl,
	libcrypt-openssl-random-perl,
	libcrypt-rijndael-perl,
	libdigest-sha-perl,
	libfile-hardhat-perl,
	libfile-hashset-perl (>= 2),
	libfile-hashset-perl (<< 3),
	libfile-rsyncp-perl,
	libguard-perl,
	libjson-perl,
	libjson-xs-perl,
	libfuse-perl
Standards-Version: 3.9.1

Package: fruitbak
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, adduser,
	libclass-clarity-perl,
	libclass-lazy-perl,
	libprivileges-drop-perl,
	libcrypt-openssl-random-perl,
	libcrypt-rijndael-perl,
	libdigest-sha-perl,
	libfile-hardhat-perl,
	libfile-hashset-perl (>= 2),
	libfile-hashset-perl (<< 3),
	libfile-rsyncp-perl,
	libguard-perl,
	libjson-perl,
	libjson-xs-perl,
	libfuse-perl
Description: Efficient disk-based backups
 Efficient disk-based backups. Features:
 .
  - dedup
  - rsync backup method
  - command line based browsing
  - command line based tar restore
  - pluggable pool storage
  - compression
  - encryption
  - pluggable expiry methods
  - storage scrubbing
  - parallel backup job manager
