#! /usr/bin/make -f

DEB_PYTHON_SYSTEM = python3
DEB_PYTHON3_MODULE_PACKAGES = python3-fruitbak
DEB_PYTHON_DESTDIR = $(CURDIR)/debian/$(DEB_PYTHON3_MODULE_PACKAGES)

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/class/python-distutils.mk
